@font-face {
    font-family: 'FSSiena';
    src: url(../fonts/FSSiena-ExtraLight.woff) format('woff');
    font-weight: 100;
}

@font-face {
    font-family: 'FSSiena';
    src: url(../fonts/FSSiena-Light.woff) format('woff');
    font-weight: 300;
}